.gradient-custom {
    /* fallback for old browsers */
    background: #049724;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(11 149 22), rgba(100 223 122));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(11 149 22), rgba(100 223 122))    
    /*background: linear-gradient(to right bottom, rgba(4,86,151,255), rgba(100,198,223,255))   */ 
}